<% @classes_for_body = "bg-gradient-to-b from-blue-500 to-pink-500" %>

<div class="max-w-3xl mx-auto mt-16 text-center min-h-screen">
<h1 class="font-header text-6xl font-extrabold bg-gradient-to-b from-blue-400 via-yellow-500 to-black-500 bg-clip-text text-transparent">
Markus Daisy Social
</h1>

  <p class="text-lg text-gray-700 mb-6">
    Welcome! This is a social media app built with Ruby on Rails. Here, you can create posts, interact with other users, and explore social connections in a fun and dynamic way.
  </p>

  <div class="mt-8">
    <p class="text-gray-600">
      Testaillaan kuinka t채m채 homma oikein toimii!
    </p>
    <div class ="mt-4 flex-items-center gap-4">
      <%= link_to "Kirjaudu sis채채n", new_session_path, class: "btn btn-primary" %>
      <%= link_to "Luo Tili", new_session_path, class: "btn btn-secondary" %>
  </div>
</div>
